<html>

    <head>
        <title> Especificação Técnica </title>
    </head>

    <body>
        <h1> Especificação Técnica </h1>
        <h2> {{ object.nome }} </h2>
        <h3> Criado em {{ object.dt_criacao }}. </h3>

        <h3> Descrição </h3>
        <p>
            {{ object.descricao }}
        </p>

        {% if object.lista_de_materiais %}
        <h3> Lista de materiais </h3>
        <ul>
            {% for item in object.lista_de_materiais.all %}
            <li> {{ item }} </li>
            {% endfor %}
        </ul>
        {% endif %}

        <h3> Lista de serviços </h3>
        <ul>
            <li> Item 1 </li>
            <li> Item 2 </li>
            <li> Item 3 </li>
            <li> Item 4 </li>
        </ul>

        <p> São José dos Campos, {{ hoje }}. </p>

    </body>

</html>